
@use "sass:map"
$body-font-family: 'Nunito Sans', sans-serif

$btn-border-radius: 1000px
$btn-letter-spacing: 0
$btn-font-weight: bold
$btn-text-transform: none
$btn-transition-duration: 0.3s
$btn-sizes: ('x-small': 20,'small': 28,'default': 36,'large': 48,'x-large': 52 )
